<!DOCTYPE html>
<html lang='en'>
<head>
    <style>
        .Question {
        width: 80%;
        font-size: x-large;
        padding: 50px 50px;
        text-align: center;
        background-color:lightblue;
        margin-top: 20px;
        }
    </style>
    <meta charset ="utf-8" />
    <title>Mock Interview</title>
    <link type = "text/css" rel= "stylesheet"
          href = "{{ url_for('static', filename ='hello.css')}}" />
</head>
<body>
<ol>
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%}

<li>
    <button onclick="myFunction(index = {{i}})">Toggle Question {{i + 1}}</button><br>
    <div id="myQuestion_{{i}}" style = "display:none" class = "Question">
        {{Interview_questions[i]}}
    </div>
    <p></p>
</li>
{%endfor%}

</ol>
    <script>
        function myFunction(index) {
            var x = document.getElementById("myQuestion_"+index);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

</body>
</html>